<app-nav></app-nav>
<h1 class="text-center h1">My Timeline</h1>
<svg class='showOnComp' id="svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 500 1300">
  <path class="line1 line" d="M 10 160  300 160"></path>
  <path class="line2 line" d="M 10 300  300 300"></path>
  <path class="line3 line" d="M 10 440  300 440"></path>
  <path class="line4 line" d="M 10 550  300 550"></path>
  <path class="line5 line" d="M 10 700  300 700"></path>
  <path class="line6 line" d="M 10 870  300 870"></path>
  <path class="line7 line" d="M 10 1000  300 1000"></path>
  <path class="line8 line" d="M 10 1100  300 1100"></path>
  <path class="line9 line" d="M 10 1240  300 1240"></path>
  <text class="text1 text" x="30" y="150">2018.6.10</text>
  <text class="de1 detail" x="180" y="135">I graduated from Ming Chuan University with a major in Digital Media Design.</text>
  <text class="dc1 detail" x="190" y="150">畢業於銘傳大學數位媒體設計學系</text>
  <text class="text2 text" x="30" y="290">2018.6.20</text>
  <text class="de2 detail" x="245" y="245">I started to learn Full Stack development and Java programming </text>
  <text class="de2 detail" x="247" y="260">in Institute for Information Industry.</text>
  <text class="dc2 detail" x="250" y="275">到資策會進修「JAVA 跨平台程式設計就業養成班」</text>
  <text class="dc2 detail" x="252" y="290">學習撰寫程式及資料庫建構，培養全端開發技能</text>
  <text class="text3 text" x="30" y="430">2018.11.22</text>
  <text class="de3 detail" x="240" y="400">I graduated from Institute for Information Industry after training</text>
  <text class="de3 detail" x="230" y="415">for 636 hours and multiple group projects presentation.</text>
  <text class="dc3 detail" x="220" y="430">歷經636小時的培訓和多次分組成果發表後，從資策會結業</text>
  <text class="text4 text" x="30" y="540">2018.12.17</text>
  <text class="de4 detail" x="150" y="525">I worked for the TransGlobe Life Insurance Inc. as an programmer.</text>
  <text class="dc4 detail" x="135" y="540">進入全球人壽擔任內部核心系統程式分析師</text>
  <text class="text5 text" x="30" y="690">2019</text>
  <text class="text6 text" x="30" y="860">2020.04.01</text>
  <text class="de6 detail" x="250" y="800">I resign from the company and start to learning different kinds of</text>
  <text class="de6 detail" x="245" y="815">programming languages and softwares, such as Angular, Git, </text>
  <text class="de6 detail" x="235" y="830">TypeScript, SASS, SparkAr (for making Instagram filter) etc.</text>
  <text class="dc6 detail" x="220" y="845">向公司提出辭呈，給自己充裕的時間學習各種程式語言</text>
  <text class="dc6 detail" x="205" y="860">自學 Angular、Git、TypeScript、SASS、SparkAr (製作IG濾鏡) 等等</text>
  <text class="text7 text" x="30" y="990">2021.09.22</text>
  <text class="dc7 detail" x="162" y="922">Work in Mirror-tech as a on site fullstack engineer.</text>
  <text class="dc7 detail" x="155" y="937">Development of projects for banks such as</text>
  <text class="dc7 detail" x="153" y="953">Mega Bank, Land Bank, SC Bank, and TCB Bank.</text>
  <text class="dc7 detail" x="151" y="971">進入明瑞資通擔任派遣工程師(全端)</text>
  <text class="dc7 detail" x="160" y="989">駐點於偉康協助開發銀行業的專案 ex: 兆豐、土銀、渣打、合庫</text>
  <text class="text8 text" x="30" y="1090">2022.10.01</text>
  <text class="dc8 detail" x="157" y="1060">I was headhunted by Webcomm and employed as a fullstack engineer</text>
  <text class="dc8 detail" x="159" y="1074">to continue developing projects related to the financial industry.</text>
  <text class="dc8 detail" x="159" y="1090">被偉康挖角並持續協助開發金融業專案</text>
  <text class="text7 text" x="30" y="1230">2023</text>

  <path class="theLine"
        d="M -5,0
           Q 350 250 160 470
           T 180 750
           Q 280 780 180 850
           T 150 1280"/>

  <circle class="ball ball1" r="10" cx="25" cy="23"></circle>
  <circle class="ball ball2" r="10" cx="190" cy="183"></circle>
  <circle class="ball ball3" r="10" cx="245" cy="320"></circle>
  <circle class="ball ball4" r="10" cx="203" cy="460"></circle>
  <circle class="ball ball5" r="10" cx="120" cy="570"></circle>
  <circle class="ball ball6" r="10" cx="110" cy="720"></circle>
  <circle class="ball ball7" r="10" cx="173" cy="893"></circle>
  <circle class="ball ball8" r="10" cx="142" cy="1020"></circle>
  <circle class="ball ball9" r="10" cx="143" cy="1120"></circle>
  <circle class="ball ball10" r="10" cx="164" cy="1260"></circle>

</svg>
<svg class='showOnPhone' id="svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 500 2000">
   <path class="line1 line" d="m15,160l335,0"/>
   <path class="line2 line" d="m15,370l335,0"/>
   <path class="line3 line" d="m15,530l335,0"/>
   <path class="line4 line" d="m15,651l335,0"/>
   <path class="line5 line" d="m15,870l335,0"/>
   <path class="line6 line" d="m15,1265l335,0"/>
   <path class="line7 line" d="m15,1500l335,0"/>
   <path class="line8 line" d="m15,1655l335,0"/>
   <text class="text1 text" x="360" y="160">2018.6.10</text>
   <g class="dc1 detail">
     <text class="de1 detail" x="130" y="75">I graduated from Ming Chuan University</text>
     <text class="de1 detail" x="150" y="100">with a major in Digital Media Design.</text>
     <text class="dc1 detail" x="170" y="125">畢業於銘傳大學數位媒體設計學系</text>
   </g>
   <text class="text2 text" x="360" y="371">2018.6.20</text>
   <g class="dc2 detail">
     <text class="de2 detail" x="195" y="220">I started to learn Full Stack development</text>
     <text class="de2 detail" x="190" y="243">and Java programming in Institute</text>
     <text class="de2 detail" x="185" y="265">for Information Industry.</text>
     <text class="dc2 detail" x="170" y="292">到資策會進修</text>
     <text class="dc2 detail" x="145" y="315">「JAVA 跨平台程式設計就業養成班」</text>
     <text class="dc2 detail" x="125" y="335">學習撰寫程式及資料庫建構</text>
     <text class="dc2 detail" x="100" y="357">培養全端開發技能</text>
   </g>
   <text class="text3 text" x="360" y="530">2018.11.22</text>
   <g class="dc3 detail">
     <text class="de3 detail" x="107" y="425">I graduated from Institute for Information Industry</text>
     <text class="de3 detail" x="115" y="447">after training for 636 hours</text>
     <text class="de3 detail" x="130" y="472">and multiple group projects presentation.</text>
     <text class="dc3 detail" x="140" y="497">歷經636小時的培訓和多次分組</text>
     <text class="dc3 detail" x="142" y="520">成果發表後從資策會結業</text>
   </g>
   <text class="text4 text" x="360" y="651">2018.12.17</text>
   <g class="dc4 detail">
     <text x="167" y="595">I worked for the TransGlobe Life Insurance Inc.</text>
     <text x="165" y="613">as an programmer.</text>
     <text x="163" y="635">進入全球人壽擔任系統分析師</text>
   </g>
   <text class="text5 text" x="360" y="870">2020.04.01</text>
   <g class="dc5 detail">
     <text x="166" y="703">I resign from the company</text>
     <text x="160" y="724">and start to learning different kinds of</text>
     <text x="154" y="742">programming languages and softwares</text>
     <text x="147" y="764">such as Angular, Git, TypeScript, SASS,</text>
     <text x="140" y="785">SparkAr (for making Instagram filter) etc.</text>
     <text x="130" y="808">向公司提出辭呈精進不同的程式技術</text>
     <text x="120" y="830">自學 Angular、Git、TypeScript、</text>
     <text x="115" y="851">SASS、SparAr(製作IG濾鏡) 等等</text>
   </g>
   <text class="text6 text" x="360" y="1266">2021.09.22</text>
   <g class="dc6 detail">
    <text x="145" y="1129">Work in Mirror-tech as a on site fullstack engineer.</text>
    <text x="160" y="1151">Development of projects for banks such as</text>
    <text x="165" y="1176">Mega Bank, Land Bank, SC Bank, and TCB Bank.</text>
    <text x="167" y="1202">進入明瑞資通擔任派遣工程師(全端)</text>
    <text x="162" y="1227">駐點於偉康協助開發銀行業的專案</text>
    <text x="155" y="1251">ex: 兆豐、土銀、渣打、合庫</text>
   </g>
   <text class="text7 text" x="360" y="1500">2022.10.01</text>
   <g class="dc7 detail">
     <text x="125" y="1387">I was headhunted by Webcomm and</text>
     <text x="114" y="1407">employed as a fullstack engineer</text>
     <text x="107" y="1430">to continue developing projects</text>
     <text x="100" y="1454">related to the financial industry.</text>
     <text x="95" y="1477">被偉康挖角並持續協助開發金融業專案</text>
   </g>
   <text class="text7 text" x="360" y="1653">2023</text>
   <path class="theLine" d="M -5,0 Q 200 200 100 280 T 40 430 Q 120 550 115 650 T 60 880 Q 0 1100 80 1130 T 100 1300 Q 10 1500 80 1650 T 160 1800" stroke="black" fill="transparent"/>
   <circle class="ball ball1" r="15" cx="0" cy="0"/>
   <circle class="ball ball2" r="15" cx="150" cy="188"/>
   <circle class="ball ball3" r="15" cx="59" cy="397"/>
   <circle class="ball ball4" r="15" cx="124" cy="560"/>
   <circle class="ball ball5" r="15" cx="143" cy="680"/>
   <circle class="ball ball6" r="15" cx="93" cy="900"/>
   <circle class="ball ball7" r="15" cx="143" cy="1295"/>
   <circle class="ball ball8" r="15" cx="80" cy="1530"/>
 </svg>